In [1]:
import geopandas as gpd
import pandas as pd
import os

In [2]:
lgas = pd.read_csv('../data/alllgas.csv')
data2024 = pd.read_csv('../data/2024data.csv')
data2025 = pd.read_csv('../data/2025data.csv')
data2023 = pd.read_csv('../data/2023data.csv')
data2022 = pd.read_csv('../data/2022data.csv')
data2021 = pd.read_csv('../data/2021data.csv')

In [3]:
lgas.head()

         LGA      State
0  Aba North       Abia
1  Aba South       Abia
2     Abadam      Borno
3      Abaji        Fct
4       Abak  Akwa Ibom

In [4]:
data2022.head()

             LGA    State  Case  Year
0     Yola North  Adamawa    24  2022
1          Girei  Adamawa     7  2022
2       Alkaleri   Bauchi   395  2022
3          Ogbia  Bayelsa    16  2022
4  Southern Ijaw  Bayelsa    42  2022

In [5]:
data2021.head()

             LGA   State  Case  Year
0         Bauchi  Bauchi  9336  2021
1           Toro  Bauchi  1921  2021
2        Ganjuwa  Bauchi  1311  2021
3  Tafawa-Balewa  Bauchi  1107  2021
4          Ningi  Bauchi   860  2021

In [6]:
def merge_data(year_data, lgas):
    merged_dataset = pd.merge(lgas, year_data, on = ['LGA', 'State'], how = 'left')
    merged_dataset['Case'] = merged_dataset['Case'].fillna(0)
    return merged_dataset

In [7]:
dataset2025 = merge_data(data2025, lgas)
dataset2023 = merge_data(data2024, lgas)
dataset2022 = merge_data(data2023, lgas)
dataset2021 = merge_data(data2022, lgas)
dataset2024 = merge_data(data2021, lgas)

In [8]:
dataset2025['Year'] = dataset2025['Year'].fillna(2025)
dataset2023['Year'] = dataset2023['Year'].fillna(2023)
dataset2022['Year'] = dataset2022['Year'].fillna(2022)
dataset2021['Year'] = dataset2021['Year'].fillna(2021)
dataset2024['Year'] = dataset2024['Year'].fillna(2024)

In [9]:
target_data = pd.concat([dataset2021, dataset2022, dataset2023, dataset2024, dataset2025], ignore_index=True)

In [10]:
target_data = target_data.sort_values(by=['Year', 'State'], ascending=[False, True]).reset_index(drop=True)

In [11]:
target_data.shape

(3873, 4)

In [12]:
target_data.to_csv('../data/merged_dataset.csv', index=False)

## Merging with Input Features

In [13]:
features = pd.read_csv('../data/Features.csv')

In [14]:
features.head()

,lganame,statename,num_health_facilities,longitude,population,lgaarea,popdensity,Facilities_per_10k_people,water_per_lga,NEAR_DIST_Health,NEAR_DIST_Water
0,Eastern Obolo,Akwa Ibom,13,7.790010,38295.61355,158.102371,242.220367,3.394645,19,1612.704460,222.811186
1,Ekeremor,Bayelsa,43,5.604680,249647.62740,1835.420776,136.016571,1.722428,195,5774.062590,569.231682
2,Degema,Rivers,5,6.968079,57489.07306,664.348694,86.534485,0.869730,65,3738.526303,136.337202
3,Andoni,Rivers,35,7.377610,115638.80900,341.545837,338.574799,3.026665,229,2620.339009,366.721673
4,Akpabuyo,Cross River,76,8.456651,122817.20700,784.271118,156.600449,6.188058,11,1103.386955,7624.978620

In [15]:
dataset = pd.merge(features, target_data, left_on=['lganame', 'statename'], right_on=['LGA', 'State'], how='inner')

In [16]:
dataset.drop(columns=['LGA', 'State'], inplace=True, axis=1)

In [17]:
dataset.to_csv('../data/FinalDataset.csv', index=False)